<div class="cart-title">カート</div>
<table>
  <%= render(:partial => "cart_item", :collection => cart.items) %>  
  
  <tr class="total-line">
    <td colspan="2">合計</td>
    <td class="total-cell"><%= number_to_currency(cart.total_price) %></td>
  </tr>

</table>
  
<!-- START_HIGHLIGHT -->
<%= button_to "チェックアウト", :action => 'checkout' %>
<!-- END_HIGHLIGHT -->
<%= button_to "カートを空にする", :action => :empty_cart %>
